# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.env
.vscode/

# Django
*.log
*.sqlite3
media/
static/
staticfiles/
db.sqlite3

# Node
node_modules/
.next/
out/
build/
dist/
*.lock
package-lock.json

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
google_credentials.json